p{
    background-color:rgb(237, 138, 229)[];
  
 
}
body{background-color:rgb(237, 138, 229);
background-size: 10px;
background-position: 10px;}

picture{
 
  background-color: chartreuse ;
border-right: 10px;
border-color: aqua;
}